#about-slider {
    .owl-nav button {
        border: 0;
    }
    .owl-dots button {
        border: 0;
        background: transparent;
    }
}

#testimonial-slider {
    .owl-dots button {
        border: 0;
        background: transparent;
    }
}
